elastic-stack:
  kibana:
    env:
      ELASTICSEARCH_URL: http://idracdemo-elastic-stack-elasticsearch-client:9200

  elasticsearch:
    client:
      replicas: 1
      serviceType: NodePort
    master:
      replicas: 2
    data:
      replicas: 1

logstash:
  enabled: false
